modules = ["python-3.11", "nodejs-20", "postgresql-16"]

[nix]
channel = "stable-25_05"
packages = ["glibcLocales", "unzip"]

[deployment]
deploymentTarget = "autoscale"
run = ["sh", "-c", "npm run start"]
build = ["sh", "-c", "npm run build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Ciklus Backend"

[[workflows.workflow]]
name = "Ciklus Backend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3030
externalPort = 3003

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5050
externalPort = 3002

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 10000
externalPort = 3000

[agent]
integrations = ["flask_supabase==1.0.0"]
